<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joeschat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.chat_intent.Chat_intent"></activity>
        <activity android:name=".ui.chat_activity.add_friend.Add_friends" />
        <activity android:name=".ui.chat_activity.ChatActivity" />
        <activity android:name=".ui.mainactivity.MainActivity" />
        <activity android:name=".ui.splashscreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3401675803040483~3224622771"/>
    </application>

</manifest>